.footer {
  background-color: #111111;
  color: #f5f5f5;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  width: 25%;
  margin-right: 20px;
}

.footer-column>h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-column>p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-column>ul {
  list-style-type: none;
  padding: 0;
}

.footer-column>ul>li {
  margin-bottom: 10px;
}

.footer-column>ul>li>a {
  color: #fff;
  text-decoration: none;
}

.newsletter-form {
  margin-top: 20px;
}

.newsletter-form>input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #111111;
  border-radius: 5px;
  margin-bottom: 10px;
}

.newsletter-form>button {
  padding: 10px 20px;
  border: none;
  background-color: #ff8c00;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.footer-bottom {
  background-color: #222;
  padding: 20px 0;
}

.footer-bottom>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom>.copyright {
  font-size: 14px;
}

.footer-bottom>.social-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.footer-bottom>.social-links>a:first-child {
  margin-left: 0;
}

.tri {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}
.social-links>a{
  text-decoration: none;
}
.social-links>a>i{
  font-size: 22px;
  color: #f5f5f5; 
  margin-right: 20px; 
}
.social-links>a>i:hover{
  color: #ff3c01;
}

@media (max-width: 767px) {
  .footer-columns {
    flex-direction: column;
  }
  .footer-column {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer-column:nth-child(2),
  .footer-column:nth-child(3),
  .footer-column:nth-child(4) {
    margin-bottom: 0; 
  }
}

@media (max-width: 575px) {
  .footer-column {
    padding: 0 15px;
  }
  .copyright>p{
    font-size: 12px;
  }
  .social-links>a>i{
    font-size: 16px;
    margin-right: 0px;
  }
  .social-links{
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .newsletter-form>input[type="email"] {
    width: calc(100% - 90px);
  }
  .newsletter-form>button {
    width: 90px;
    float: right;
  }
  .copyright>p{
    font-size: 12px;
  }
  .social-links>a>i{
    font-size: 16px;
    margin-right: 0px;
  }
  .social-links{
    display: flex;
    gap: 10px;
  }
}
